tensorboard>=2.15.0
numpy>=1.19.2
pandas>=1.2.0
scikit-learn>=0.24.0
tqdm>=4.50.0
transformers>=4.21.0
librosa>=0.11.0
soundfile>=0.10.0
aiofiles
python-multipart 
pydub==0.25.1
torch==2.7.1
torchaudio==2.7.1
